@model JooleGroupProject.UI.Models.RegisterViewModel

@{
    ViewBag.Title = "Signup";
    Layout = "~/Views/Shared/Background.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/5e8dc3bf55.js" crossorigin="anonymous"></script>

    <title>Enter</title>
    <style>
        .error {
            color: red;
            font-size: 12px;
        }

        .inputtx {
            display: inline-block;
            width: 25%;
            text-align: left;
            font-weight: bold;
            font-size: 14px;
        }

        .inputbox {
            padding: 1%;
            margin-top: 0.5%;
            border-radius: 5%;
            border-color: #F0F0F0;
            width: 35%;
        }
    </style>
</head>
<body>
    <form style="background-color: white; border-radius: 3%; margin-left: 30%; margin-right: 30%; margin-top: 6%" action="Submit" method="post">
        <div style="display: flex; justify-content:space-around; padding: 2%; border-bottom: 1px solid #F0F0F0;">
            <label style="display: flex; justify-content: space-between;font-weight: bold; font-size: 18px;">Register as User</label>
            <label>ozn</label>
            <i class="fa-regular fa-circle-xmark fa-lg" style="color: lightslategray; padding: 2%" id="cancel"></i>
        </div>
        <div style="padding: 2%">
            <span class="inputtx" , style="margin-left: 25%; margin-bottom: 1%">Image Preview</span>
            <div id="profile" style="background-color: gray; width: 100px; height: 100px; border-radius: 50%; margin-left: 25%"></div>
            <span class="inputtx" , style="margin-left: 25%; margin-top: 1%">Your Profile</span>
            <br />
            <input type="file" accept="image/jpg, image/png, image/jpeg" onchange="showImg(this)" style="margin-left: 25%" required />
            <br />
            <br />
            <span class="inputtx">UserName: </span>
            <input type="text" name="UserName" class="inputbox" placeholder="User Name" />
            <label class="error">@Html.ValidationMessageFor(m => m.UserName)</label>
            <br />
            <span class="inputtx">Email Address: </span>
            <input type="email" name="EmailAddress" class="inputbox" placeholder="Email Address" />
            <label class="error">@Html.ValidationMessageFor(m => m.EmailAddress)</label>
            <br />
            <span class="inputtx">Password: </span>
            <input type="password" name="Password" class="inputbox" placeholder="Password" />
            <label class="error">@Html.ValidationMessageFor(m => m.Password)</label>
            <br />
            <span class="inputtx">Confirm Password: </span>
            <input type="password" name="ConfirmPassword" class="inputbox" placeholder="Confirm Password" />
            <label class="error">@Html.ValidationMessageFor(m => m.ConfirmPassword)</label>
        </div>
        <div style="text-align: right; padding: 2%; border-top:1px solid #F0F0F0;">
            <input type="submit" value="Sign Up" style="background-color: #317CBD; color: white; font-weight: bold; border: none; padding: 1%; border-radius: 10%" />
        </div>
    </form>

    <script type="text/javascript">
        function showImg(obj) {
            var files = obj.files;
            document.getElementById("profile").innerHTML = getImgsByUrl(files);
        }
        function getImgsByUrl(files) {
            var url = window.URL.createObjectURL(files[0]);
            var element = "<div style='background:url(" + url + "); background-size:cover; width: 100px; height: 100px; border-radius: 50%'></div>";
            return element;
        }
        document.getElementById("cancel").onclick = function () {
            window.location.href = '@Url.Action("Login", "User")';
        };
    </script>
</body>
</html>