@using JooleGroupProject.ServiceLayer.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/layout.css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/jqueryuicss")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="http://kit.fontawesome.com/ada9f89ebf.js" crossorigin="anonymous"></script>
    <script src="http://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body  >
    <div class="navbar">
        <img src="~/Content/Resources/joole-logo.png" class="image" onclick="window.location.href='/Search/Index'" />


        <form>

            <select id="categorySelector">
                @foreach (var category in (List<CategoryDTO>)Session["categories"])
                {
                    <option value=@category.CategoryID style="background-color: white; font-size:100%;" @(category.CategoryID == 1 ? "selected" : "")>@category.CategoryName</option>
                }
            </select>

            <input id="subcategorySelector" type="text" placeholder="Search" class="searchBox" />

            <button id="search" class="searchButton" type="button">
                <i class="fa-solid fa-magnifying-glass" style="color: white"></i>
            </button>

        </form>
            <img class="profile" onclick="toggleMenu()" />
            <div id="profileMenu" class="profile-menu">
                <a href="#" onclick="signOut()">Sign Out</a>
            </div>

      
    </div>
    <div class="container body-content"style="margin-top:2%">
        @RenderBody()

    </div>
    <script>
      
        $(document).ready(function () {
            $("#categorySelector").on("change", function () {
                var selectedOption = $(this).val();
                updateAutocompleteSource(selectedOption);
            });
        });

        function updateAutocompleteSource(selectedOption) {
            axios.post("/Search/selectCategory", { data: selectedOption })
                .then(function (response) {
                    console.log("success");

                    var autocompleteSource = response.data.tags;

                    console.log("data: " + response.data.tags);

                    $("#subcategorySelector").autocomplete({
                        source: autocompleteSource
                    });
                })
                .catch(function (error) {
                    console.log("Error:", error);
                });
        }
        $(document).ready(function () {
            var selectedOption = $("#categorySelector").val();
             updateAutocompleteSource(selectedOption);
        });

        document.getElementById("search").addEventListener("click", function () {

            var selectedCategoryName = $("#categorySelector option:selected").text(); // Get the selected category name
            //subcategory name
            var selectedSubCategory = document.getElementById("subcategorySelector").value;

            console.log(selectedCategoryName);
            console.log(selectedSubCategory);

            // Construct the URL with parameters
            var destinationURL = "/SearchResult/Index" +
                "?categoryName=" + encodeURIComponent(selectedCategoryName) +
                "&subCategoryName=" + encodeURIComponent(selectedSubCategory);

            // Redirect to the new URL
            window.location.href = destinationURL;

        })
        function toggleMenu() {
            var menu = document.getElementById("profileMenu");
            if (menu.style.display === "none" || menu.style.display === "") {
                menu.style.display = "block";
            } else {
                menu.style.display = "none";
            }
        }

        function signOut() {
            window.location.href = '/';
        }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
